.App {
  text-align: center;
}

body{
background-color: rgb(255, 255, 255);
padding-top: 0px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cards {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  padding: 20px;
  font-size: small;
  border-radius: 20px;
  background-color: #eefcff;
  align-items: center;
  grid-template-rows: max-content 150px 1fr;
  border: none;
}

#register_form {
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
  background-color: white;
  box-shadow: 0px -1px 37px -7px #00b5e2;
  color: black;
}

.navbar {
  background-color: #00b5e2;
}

.card.h4 {
  text-align: center;
}

.card img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.btnPage {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}


a {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: white;
}

.carousel-inner {
  margin-bottom: 30px;
}